@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Rubik+Storm&display=swap');

.container {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 60px 40px;

  display: flex;
  flex-direction: column;

  background-image:
    /* linear-gradient(
      rgba(76, 29, 149, 0.88),
      rgba(109, 40, 217, 0.88)
    ), */
    url('../../assets/images/dash.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
  color: rgba(68, 13, 156, 0.88);
}

.empty {
  color: white;
  font-size: 18px;
  opacity: 0.9;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.cardLink {
  text-decoration: none;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 20px;
  transition: all 0.25s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.3);
}

.cardHeader h2 {
  margin: 0;
  font-size: 20px;
  color: #4c1d95;
}

.date {
  font-size: 13px;
  opacity: 0.6;
  margin-top: 6px;
  color: #4c1d95;
}

.description {
  margin: 15px 0;
  font-size: 15px;
  color: #444;
  line-height: 1;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 13px;
  color: #6d28d9;
  margin-top: 10px;
}

.createButton {
    width: 20%;
    padding: 14px 10px;                  
    color: white;                        
     background: linear-gradient(90deg, #8b5cf6, #ec4899);          
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.35); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
}

.createButton:hover {
  transform: translateY(-5px);               /* lift on hover */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* stronger shadow */
}

